*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins' , sans-serif;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #2f363e;
}

#timer{
 display: flex;
 gap: 30px; 
}

#timer .circle{
  position: relative;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#timer .circle svg{
  position: relative;
  width: 150px;
  height: 150px;
}

#timer .circle svg circle{
  width: 100%;
  height: 100%;
  fill: transparent;
  stroke: #282828;
  stroke-width: 8;
  stroke-linecap: round;
  transform: translate(5px , 5px);
}

#timer .circle svg circle:nth-child(2){
  stroke: var(--clr);
  stroke-dasharray: 440;
  stroke-dashoffset :440; 
}

#timer div{
  position: absolute;
  text-align: center;
  font-weight: 500;
  color: #fff;
  font-size: 1.5em;
}

#timer div span{
  position: absolute;
  transform: translateX(-50%) translateY(-10px);
  font-size: 0.35em;
  font-weight: 300;
  color: #fff;
letter-spacing: 0.1em;
text-transform: uppercase;
}

#timer .dots{
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 1000;
}

#timer .dots::before{
  content: '';
  position: absolute;
  top: -3px;
  width: 15px;
  height: 15px;
  background: var(--clr);
  border-radius: 50%;
  box-shadow: 0 0 20px var(--clr), 0 0 60px var(--clr);

}
.newyear{
  font-size: 8em;
  font-weight: 500;
  color: #fff;
  text-align: center;
  line-height: 0.6em;
  display: none;
}

.newyear span{
  font-size: 0.5em;
  font-weight: 300;

}